################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TafsilkPlatform/TafsilkPlatform.Web/appsettings.json
publish/
**/publish/
bin/
obj/
