@page
@model TafsilkPlatform.Web.Pages.ErrorModel
@{
    ViewData["Title"] = "Error";
}
<div class="alert alert-danger" style="margin-top:2em">
    <h2>An error occurred while processing the request</h2>
    <p>
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <span>@Model.ErrorMessage</span>
        }
        else
        {
            <span>Please try again or contact technical support.</span>
        }
    </p>
</div>
