@{
    ViewData["Title"] = "غير موجود";
}
<div class="alert alert-warning" style="margin-top:2em">
    <h2>الصفحة أو الملف غير موجود</h2>
    <p>عذراً، لم نتمكن من العثور على الصفحة أو الملف المطلوب.<br />
    يرجى التأكد من صحة الرابط أو العودة للصفحة الرئيسية.</p>
</div>
