<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tafsilk Admin Dashboard">
    <title>@ViewData["Title"] - Tafsilk Admin</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Cairo', sans-serif;
        }
    </style>
    <link rel="stylesheet" href="~/css/windster.css">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/windster/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/windster/favicon-16x16.png">
    
    <!-- FontAwesome for icons if needed, though Windster uses SVGs mostly -->
    <!-- FontAwesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    
    <!-- Bootstrap & Site Styles (from _Layout.cshtml) -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TafsilkPlatform.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin-dark.css" asp-append-version="true" />
    
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="bg-gray-900">

    <!-- Navbar -->
    <partial name="_Navbar" />

    <div class="flex overflow-hidden pt-16">

        <!-- Sidebar -->
        <aside id="sidebar" class="fixed hidden z-20 h-full top-0 left-0 pt-16 flex lg:flex flex-shrink-0 flex-col w-64 transition-width duration-75" aria-label="Sidebar">
            <div class="relative flex-1 flex flex-col min-h-0 border-r border-gray-700 pt-0">
                <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
                    <div class="flex-1 px-3 divide-y space-y-1">
                        <ul class="space-y-2 pb-2">
                            <li>
                                <a href="/Admin/AdminDashboard" class="text-base text-gray-300 font-normal rounded-lg flex items-center p-2 hover:bg-gray-700 hover:text-white group">
                                    <svg class="w-6 h-6 text-gray-400 group-hover:text-white transition duration-75" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
                                    <span class="ml-3">Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/AdminDashboard/Products" class="text-base text-gray-300 font-normal rounded-lg hover:bg-gray-700 hover:text-white flex items-center p-2 group">
                                    <svg class="w-6 h-6 text-gray-400 flex-shrink-0 group-hover:text-white transition duration-75" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"></path></svg>
                                    <span class="ml-3 flex-1 whitespace-nowrap">Products</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/AdminDashboard/Orders" class="text-base text-gray-300 font-normal rounded-lg hover:bg-gray-700 hover:text-white flex items-center p-2 group">
                                    <svg class="w-6 h-6 text-gray-400 flex-shrink-0 group-hover:text-white transition duration-75" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l2-2a1 1 0 00-1.414-1.414L11 7.586V3a1 1 0 10-2 0v4.586l-.293-.293z"></path><path d="M3 5a2 2 0 012-2h1a1 1 0 010 2H5v7h2l1 2h4l1-2h2V5h-1a1 1 0 110-2h1a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5z"></path></svg>
                                    <span class="ml-3 flex-1 whitespace-nowrap">Orders</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/AdminDashboard/Users" class="text-base text-gray-300 font-normal rounded-lg hover:bg-gray-700 hover:text-white flex items-center p-2 group">
                                    <svg class="w-6 h-6 text-gray-400 flex-shrink-0 group-hover:text-white transition duration-75" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
                                    <span class="ml-3 flex-1 whitespace-nowrap">Users</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>

        <div class="bg-gray-900 opacity-50 hidden fixed inset-0 z-10" id="sidebarBackdrop"></div>

        <div id="main-content" class="h-full w-full relative overflow-y-auto lg:ml-64">
            <main>
                @RenderBody()
            </main>

            <footer class="md:flex md:items-center md:justify-between shadow rounded-lg p-4 md:p-6 xl:p-8 my-6 mx-4">
                <p class="text-center text-sm text-gray-500 my-10">
                    &copy; 2025 Tafsilk. All rights reserved.
                </p>
            </footer>
        </div>

    </div>

    <script src="https://buttons.github.io/buttons.js"></script>
    <script src="https://buttons.github.io/buttons.js"></script>
    <script src="~/js/windster.js"></script>
    
    <!-- Scripts from _Layout.cshtml -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
